/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin 
  NOTE - font: inherit; property is taking away all default boldness and size of font tags like heading tags.
*/

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, 
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

:root {
    --primary-color: #1F2937;
    --secondry-color: #E5E7EB;
    --tertiary-color: #3882F6;

    --text-p-color: #F9FAF8;
    --text-s-color: #1F2937;
    --text-t-color: #E5E7EB;

    --ff-primary: sans-serif;

    --fs-ultra: 48px;
    --fs-big: 36px;
    --fs-mid: 24px;
    --fs-sml: 18px;

    --fw-ebold: bolder;
    --fw-light: 100;
}

/* Universal */
.container {
    margin: 0 20%;
}

section {
    height: 50vh;
}

/* font */
.logo {
    font-family: var(--ff-primary);
    font-size: var(--fs-mid);
    font-weight:var(--fw-ebold);
    color: var(--text-p-color);
}

nav a {
    font-family: var(--ff-primary);
    font-size: var(--fs-sml);
    color:var(--text-t-color);
}

button {
    font-family: var(--ff-primary);
    font-weight: var(--fw-ebold);
    color:var(--text-t-color) 
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-ultra);
    font-weight: var(--fw-ebold);
    color:var(--text-p-color);
    line-height: 1.2;
}

h3 {
    font-family: var(--ff-primary);
    font-size: var(--fs-big);
    font-weight: var(--fw-ebold);
    color: var(--text-s-color);
}

#hero-section p {
    font-family: var(--ff-primary);
    font-size:var(--fs-sml);
    color:var(--text-t-color);
    line-height: 1.2;
}

#hero-section span {
    font-family: var(--ff-primary);
    font-size: var(--fs-sml);
    color:var(--text-t-color)
}

#service-section p {
    font-family: var(--ff-primary);
    font-size: var(--fs-sml);
    color: var(--text-s-color)
}

#testimonial-section p {
    font-family: var(--ff-primary);
    font-size: var(--fs-big);
    font-style: italic;
    font-weight: var(--fw-light);
    color: var(--text-s-color);
    word-spacing: 1px;
    line-height: 1.2;
}

#testimonial-section .author {
    font-size: var(--fs-mid);
    font-weight: var(--fw-ebold);
    font-family: var(--ff-primary);
}

/* hero-section start */
#hero-section {
    background-color: var(--primary-color);
}

#hero-section nav {
    height: 8vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#hero-section nav ul {
    list-style: none;
    display:flex;
    gap: 20px;
}

#hero-section nav li a {
    text-decoration: none;
}

#hero-section .hero-box {
    height: 42vh;
    display:flex;
    align-items: center;
    gap: 100px;
}

#hero-section .hero-box .hero-content {
    flex:1;
}

#hero-section .hero-content button {
    background-color: var(--tertiary-color);
    margin-top: 10px;
    height: 40px;
    width: 120px;
    border:none;
    border-radius: 10px;
}

#hero-section .hero-box .hero-img {
    height: 100%;
    flex: 2;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#hero-section .hero-img span {
    background-color: gray;
    height: 60%;
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#hero-section .hero-img img {
    margin-left: auto;
}
/* hero-section end */

/* service-section start */
#service-section {
    padding-top: 50px;
}

#service-section h3 {
    text-align: center;
}

#service-section .service-container {
    margin-top: 50px;
    padding: 0 10%;
    display:flex;
    gap: 40px;
}

#service-section .service-container .service-img {
    display:block;
    height: 200px;
    border: 4px solid var(--tertiary-color);
    border-radius: 20px;
}

#service-section .service-container p {
    margin-top: 10px; 
    text-align: center;
}
/* service-section end */

/* testimonial-section start */
#testimonial-section {
    padding: 0 10%;
    background-color: var(--secondry-color);
    display:flex;
    align-items: center;
}

#testimonial-section p {
    text-align:justify;
}

#testimonial-section .author {
    display:block;
    text-align: end;
}
/* testimonial-section end */